<%= link_to 'About', about_path %>

<h1>Welcome to the homepage of my blog!</h1>

<!-- <!DOCTYPE html>
<html>
<head>
  <title>5 Benefits of Working Out!</title>
</head>
<body>
  <img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-05/22/16/asset/buzzfeed-prod-fastlane-03/sub-buzz-13236-1495485747-11.jpg?downsize=715:*&output-format=auto&output-quality=auto">
  <h2>5 Benefits of Working Out:</h2>
  <ul>
    <ol>
      <li>Stress reliever</li>
      <li>It's fun (for some)</li>
      <li>Helps maintain a body weight you want</li>
      <li>Increases energy</li>
      <li>Makes you feel good in general</li>
    </ol>
  </ul>
</body>
</html> -->

